<div class="show-container">
  <div class="post-heading">
    <h1><%= @channel.title %></h1>
    <button type="button" class="form-and-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Create post +
    </button>

      <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <%# <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> %>
            <button type="button" class="x-channel-form btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render "posts/post_form", channel: @channel, post: @post %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% @channel.posts.reverse.each do |post| %>
    <div class="posts-info">
      <div class="card-product">
        <% if post.photo&.key.present? %>
          <%=cl_image_tag(post.photo.key, height: 350, width: 450, crop: :fill) %>
        <% else %>
          <!-- Provide a fallback or placeholder image -->
        <% end %>
        <div class="post-product-infos">
        <div class="title_and_delete">
          <h2><%= post.title %></h2>
             <%= link_to post_path(post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm', id: 'delete-btn', remote: true do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
        </div>

          <p><%= post.description %></p>
            <%# <%= link_to "Chat now", channel_path(channel), class: 'btn btn-default'%>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed ps-0" type="button" data-bs-toggle="collapse" data-bs-target="#post_comments_<%= post.id%>" aria-expanded="false" aria-controls="collapseThree">
                    Comments
                  </button>
                </h2>
                <div id="post_comments_<%= post.id%>" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="comments">
                      <% post.comments.each do |comment| %>
                        <div class="comment">
                          <div class="name_and_delete">
                            <p><strong><%= comment.user.first_name %>:</strong> <%= comment.content %></p>
                            <%= link_to comment_path(comment), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-link btn-sm text-danger' do %>
                              <i class="fa-solid fa-xmark"></i>
                            <% end %>
                          </div>
                        </div>
                        <% end %>
                    </div>

                    <!-- Render comment form -->
                    <%= render 'posts/comment_form', post: post, channel: @channel %>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  <% end %>


</div>
