

<div class="container">

  <div class="title">
   <h1><strong>Markets, Everywhere</strong></h1>
  </div>


  <div class="row">
    <STRONG><h1>Top players </h1></strong>
      <% @investments.each do |investment| %>
        <div class="col-md-3 mb-4">
          <div class="card h-100">
            <%= link_to investment_path(investment), class: 'text-decoration-none text-dark' do %>
              <div class="card-body">
                <%= image_tag investment.image%>
                <h5 class="card-title"><%= investment.name %></h5>
                <p class="card-text">Current Value: <%= investment.histories.last.price %></p>
                <p class="card-text">24hr Change: <%= number_to_percentage(investment.calculate_24hr_change, precision: 2) %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>


</div>
