<div class="container transaction-actions">
  <h2 class="investment-header">
    <%= image_tag @investment.image, class: 'investment-image' %>
    <%= @investment.name %>
  </h2>

  <div class="chart-wrapper" data-controller="performance-chart">
    <div class="chart-container">
      <canvas id="bar-chart"
              data-performance-chart-target="myChart"
              data-labels="<%= @investment.histories.map { |history| history.date.strftime('%Y-%m-%d') }.to_json %>"
              data-prices="<%= @investment.histories.map(&:price).to_json %>" width="4" height="1"
              data-purchased-price="<%= @purchased_price.to_json %>">
      </canvas>
    </div>
  </div>

  <div class="d-flex justify-content-between">

    <div class="player-info">
    <h3 id="player-stats"> <%= @investment.name%>'s Stats:</h3>
    <h5>POSITION: <%= @player.position %></h5>
    <hr>
    <h5>CLUB: <%= @player.club %></h5>
    <hr>
    <h5>HEIGHT: <%= @player.height %> cm</h5>
    <hr>
    <h5>WEIGHT: <%= @player.weight %> kg</h5>
    <hr>
    <h5>DOB: <%= @player.dob %></h5>
    <hr>
    <h5>NATIONALITY: <%= @player.nationality %></h5>
    <hr>
    <h5>GAMES: <%= @player.games_played %></h5>
    <hr>
    <h5>GOALS: <%= @player.goals %></h5>
    <hr>
    <h5>ASSISTS: <%= @player.assists %></h5>
    </div>

    <div class="trade-column">

      <h4 id="Today-price">Today's price: <%= @investment.histories.last.price %>£</h4>

      <!-- Buy Form -->
      <div class="trade-form">
        <%# This buy form is for the first purchase %>
        <% unless @on_hold %>
          <div class="buy form-column" data-controller="buying-investment">
            <%= simple_form_for [@investment, @holding] do |f| %>
            <%= f.input :shares_amount, input_html: { data: { buying_investment_target: "buyPrice", action: "change->buying-investment#activeButton" } } %>
            <%= f.hidden_field :trade, value: "buy" %>
            <%= f.submit "Buy     +", class: 'btn-buy-disabled', disabled: 'true', data: { buying_investment_target: "btn" } %>
            <% end %>
          </div>
        <% end %>

        <% if @on_hold %>
          <%# This buy form is for the another purchase %>
          <% if @on_hold %>
            <div class="buy form-column" data-controller="buying-investment">
              <%= simple_form_for [@investment, @current_holding] do |f| %>
              <%= f.input :shares_amount, input_html: { value: '', data: { buying_investment_target: "buyPrice", action: "change->buying-investment#activeButton" } } %>
              <%= f.hidden_field :trade, value: "buy" %>
              <%= f.submit "Buy     +", class: 'btn-buy-disabled', disabled: 'true', data: { buying_investment_target: "btn" } %>
              <% end %>
            </div>
          <% end %>

        <!-- Sell Form -->
          <div class="sell form-column" data-controller="buying-investment" data-shares-amount="<%= @current_holding.shares_amount%>">
            <%= simple_form_for [@investment, @current_holding] do |f| %>
              <%= f.input :shares_amount, input_html: { value: '', data: { buying_investment_target: "sellPrice", action: "change->buying-investment#activeSellButton" } } %>
              <%= f.hidden_field :trade, value: "sell" %>
              <%= f.submit "Sell      -", class: 'btn-sell-disabled', disabled: 'true', data: { buying_investment_target: "btnSell" } %>
            <% end %>
          </div>
      </div>

          <% unless @sold %>
            <div class="holding-info">
              <h4 id="Depoth4">Holding in depot:</h4>
              <h4 id="Moneyy"><%= (@current_holding.shares_amount * @current_holding.purchased_price).round(2) + (@investment.histories.last.price - @current_holding.purchased_price) %>£ <%= (@investment.histories.last.price - @current_holding.purchased_price) / @current_holding.purchased_price * 100 %> %</h4>
              <h6>Inventory: <%= @current_holding.shares_amount %> Qty.</h6>
              <h6>Purchase Value: <%= (@current_holding.shares_amount * @current_holding.purchased_price).round(2) %> £</h6>
              <h6>Last transcation: <%= @current_holding.purchased_date %></h6>
              <h6>Purchased Price: <%= @current_holding.purchased_price %> £</h6>
              <h6>Change: <%= ((@investment.histories.last.price - @current_holding.purchased_price) * @current_holding.shares_amount).round(2) %> £</h6>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
