<div class="transaction-actions">
  <h3>Trade Asset</h3>

  <div class="chart-wrapper" data-controller="performance-chart">
    <div class="chart-container">
      <canvas id="bar-chart"
              data-performance-chart-target="myChart"
              data-labels="<%= @investment.histories.map { |history| history.date.strftime('%Y-%m-%d') }.to_json %>"
              data-prices="<%= @investment.histories.map(&:price).to_json %>" width="4" height="1"
              data-purchased-price="<%= @purchased_price.to_json %>">
      </canvas>
    </div>
  </div>

  <!-- Buy Form -->
      <div class="buy form-column">
        <%= simple_form_for [@investment, @holding] do |f| %>
        <%= f.input :shares_amount %>
        <%= f.hidden_field :trade, value: "buy" %>
        <%= f.submit "Buy     +", class: 'btn btn-buy' %>
        <% end %>
      </div>

      <% if @on_hold %>
        <div class="sell form-column">
          <%= simple_form_for [@investment, @current_holding] do |f| %>
          <%= f.input :shares_amount %>
          <%= f.hidden_field :trade, value: "sell" %>
          <%= f.submit "Sell      -", class: 'btn btn-sell' %>
          <% end %>
        </div>
      <% end %>
  </div>
