
<!-- ... [other parts of the show page] ... -->

<div class="transaction-actions">
  <h3>Trade Asset</h3>

  <div class="chart-wrapper" data-controller="performance-chart">
    <div class="chart-container">
      <canvas id="bar-chart" data-performance-chart-target="myChart" data-labels="<%= Investment.last.histories.map { |history| history.created_at.strftime('%Y-%m-%d') }.to_json %>" data-prices="<%= Investment.last.histories.map(&:price).to_json %>" width="4" height="1"></canvas>
    </div>
  </div>

  <!-- Buy Form -->
  <div class="buy">
  <%= simple_form_for [@investment, @holding] do |f| %>
    <%= f.input :shares_amount %>
    <%= f.hidden_field :trade, value: "buy" %>
    <%= f.submit "Buy", class: 'btn btn-default' %>
  <% end %>

  </div>

  <!-- Sell Form -->
  <div class="sell">
  <%# simple_form_for [@investment, @holding] do |f| %>
    <%# f.input :shares_amount %>
    <%# f.hidden_field :trade, value: "sell" %>
    <%# f.submit "Sell", class: 'btn btn-default' %>
  <%# end %>
  </div>

  <!-- Exit Form -->
  <!-- Ensure the user has holdings to sell -->
  <div class="exit">
  <% if user_signed_in? %>
    <% if current_user.holdings.where(investment_id: @investment.id).any? %>
      <%= simple_form_for [@investment, @holding] do |f| %>
      <%= form.submit "Exit", class: 'btn btn-default' %>
      <% end %>
    <% else %>
      <p>You do not have any holdings to sell.</p>
    <% end %>
  <% end %>
  </div>
</div>
