<div class="news-title">
  <h1>News</h1>
</div>
<div class="centernews">
<% @news.each_with_index do |article, index| %>
  <div class="news-index-container">
      <%= link_to news_path(id: index) do %>
        <img src="<%= article[:image_url] %>" alt="<%= article[:title] %> Image">
    <div class="news-article">
        <h3><%= article[:title] %></h3>
        <p><%= article[:description] %></p>
      <% end %>
    </div>
  </div>
<% end %>
</div>
