<%# <h1><%= @new.title %></h1>

<%# <div class="article"> %>
  <%# <p><%= @new.content %></p> %>
<%# </div> %>

<%# <%= link_to 'Back to News', news_index_path %> %> %>

<!-- app/views/news/show.html.erb -->
<h1><%= @article['title'] %></h1>
<p><%= @article['content'] %></p>
