<div class="user-title">
<h1>Hello, <%= current_user.first_name %></h1>
</div>
    <div class="dashboard-container">
        <div class="balance-container">
        <section class="account-balance">
            <h2>ACCOUNT BALANCE</h2>
            <div class="balance-info">
                <span class="balance-amount">£<%= @today_tokens %></span>
                  <div class="portfolio-change">
                    <span class="<%= @account_percentage_change.zero? ? 'zero' : (@account_percentage_change.positive? ? 'positive' : 'negative') %>">
                      <%= @account_percentage_change.zero? ? '' : (@account_percentage_change.positive? ? '+' : '') %><%= @account_percentage_change %>% (£<%= @price_increase %>)
                    </span>
                  </div>
            </div>

            </div>
        </section>

        <div class="performance-container">
          <section class="performance">
            <h2>PERFORMANCE</h2>
            <div class="performance-today">
              <p>Investment Value: £<%= @today_performance %></p>
            <!-- Performance chart would be implemented here -->
            </div>

        <!-- Holdings Chart Section -->
        <div class="holdings-chart" data-controller="holding-chart">
          <div class="chart-container">
            <canvas id="holding-chart"
                    data-holding-chart-target="myChart"
                    data-labels="<%= current_user.user_histories.map { |history| history.date.strftime('%d %b') }.to_json %>"
                    data-performance="<%= current_user.user_histories.map(&:performance).to_json %>" width="600" height="300">
            </canvas>
          </div>
        </div>
      </section>
    </div>


        <!-- Investments Section -->

        <div class="investments-container">
          <section class="investments">
              <h2>INVESTMENTS</h2>
              <table>

                  <div class="investment-titles d-flex justify-content-between ">
                    <div class="investment-name">
                    <p>Name</p>
                    </div>
                    <div class="investment-price">
                    <p>Purchase Price</p>
                    </div>
                    <div class="investment-price">
                    <p>Current Price</p>
                    </div>

                    <div class="investment-percentage">
                    <p>Percentage Change</p>
                    </div>


                  </div>
                  <% current_user.holdings.each do |holding|%>
                    <% if holding.sold_price.nil? %>
                      <div class="investments-card d-flex justify-content-between ">
                        <div class="investment-name">
                          <%# <p><%= holding.investment.name %>
                          <p><%= link_to holding.investment.name, investment_path(holding.investment), class: 'your-link-class' %></p>

                        </div>
                        <div class="investment-price">
                          <p><%= (holding.purchased_price).round(2) %></p>
                        </div>

                        <div class="investment-price">
                          <p><%= (holding.investment.histories.last.price).round(2) %></p>
                        </div>

                        <div class="investment-percentage">
                          <% percentage_change = (((holding.investment.histories.last.price - holding.purchased_price) / holding.purchased_price) * 100).round(2) %>
                          <p class="<%= percentage_change.zero? ? 'zero' : (percentage_change.positive? ? 'positive' : 'negative') %>">
                            <%= percentage_change.zero? ? '' : (percentage_change.positive? ? '+' : '') %><%= percentage_change %>%
                          </p>
                        </div>

                      </div>
                    <% end %>
                  <% end %>

                  <% if current_user.holdings.nil? %>
                    <p>No Current Holdings</p>
                  <% end  %>
              </table>
          </section>
        </div>

        <!-- Latest News Section -->
        <div class="news-container">
          <aside class="latest-news">
              <h2>LATEST NEWS</h2>
              <h3><a href="/news/1">Haaland Unleashes Frustration: Explosive Reaction to Refs Decision</a></h3>
              <p>Published 06/12/23</p>
          </aside>
        </div>
      </div>
