<%# <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMM - Kick Off Investments</title>
</head>

<body> %>


 <header>
        <section id="hero">
            <h1>Kick Off Investments</h1>
            <p>Empowering Your Investment Journey</p>
            <div id="home searchbar">
              <%= form_with url: investments_path, method: :get, class: "d-flex w-50" do %>
                <div class="home-searchbar position-relative">
                  <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                     placeholder: "Search markets here..."
                   %>
                  <%= button_tag "Search", name: "", class: "home-search-button" do %>
                   <i class="fa-solid fa-magnifying-glass"></i>
                 <% end %>
                </div>
              <% end %>
            </div>
            <div id="stock-ticker">
                <span>Watkins +1.67%</span>
                <span>Nunez -2.41%</span>
                <span>James +9.21%</span>
            </div>
              <%= image_tag "jude-bellingham-41_cropped.png" %>
              <%# <img src="jude-bellingham-41_cropped.png" alt="Descriptive text about the image"> %>
        </section>
 </header>

    <main>
        <section id="mobile-app">
            <%= image_tag "iPhone 14 Pro Mockup Space Black 1.png" %>
            <%# <img src="iPhone 14 Pro Mockup Space Black 1.png" alt="Mobile App Screenshot"> %>
            <div class="text">
              <h2>More Than a Platform: A Community</h2>
              <p>Welcome to More than a platform; where the love for football transcends mere investment. Here, we curate an immersive community where enthusiasts connect, invest, and share the thrill of football in a way that goes beyond the ordinary. Join us in this dynamic space where passion and investment converge for an extraordinary journey.</p>
            </div>
        </section>
    </main>

    <footer>
        <!-- Add footer content here -->
    </footer>

<%# </body>

</html> %>
