 <header>
        <section id="hero">
          <div class="hero-image">
            <div class="hero-content">
            <div class="home-searchbar-container">
            <h1>My Match Market</h1>
            <p>Kick off your investments now</p>
            <div id="home searchbar">
              <%= form_with url: investments_path, method: :get, class: "d-flex w-50" do %>
                <div class="home-searchbar position-relative">
                  <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Search markets here..."
                  %>
                  <%= button_tag "Search", name: "", class: "home-search-button" do %>
                    <i class="fa-solid fa-magnifying-glass"></i>
                  <% end %>
                </div>
              <% end %>
            </div>

            <div id="stock-ticker">
               <% @investments.each do |investment| %>
                <%= link_to investment_path(investment), class: 'text-decoration-none text-dark' do %>
                  <div class="d-flex align-items-center investment-span">
                    <%= image_tag investment.image %>
                    <div class="investment-span-info">
                      <span><%= investment.name %></span>
                      <span style="color: <%= investment.calculate_24hr_change >= 0 ? '#98F899' : '#E83838' %>;">
                        <%= investment.calculate_24hr_change >= 0 ? "+" : "" %><%= number_to_percentage(investment.calculate_24hr_change, precision: 2) %>
                      </span>
                    </div>
                  </div>
                 <% end %>
                <% end %>
            </div>
            </div>
              <%# image_tag "jude-bellingham-41_cropped.png" %>
              <%# <img src="jude-bellingham-41_cropped.png" alt="Descriptive text about the image"> %>
          </div>
        </section>
 </header>

    <main>
        <section id="mobile-app">
            <%= image_tag "iPhone 14 Pro Mockup Space Black 1.png" %>
            <%# <img src="iPhone 14 Pro Mockup Space Black 1.png" alt="Mobile App Screenshot"> %>
            <div class="text">
              <h2>More Than a Platform: A Community</h2>
              <p>Welcome to a realm where football is more than just a game – it's a passion that goes beyond mere investment. At MMM, we've crafted a unique community for enthusiasts to connect, invest, and experience the excitement of football in a way that transcends the conventional. Dive into this dynamic space where your passion for the sport and savvy investment strategies unite, embarking on an extraordinary journey with us.</p>
            </div>
        </section>
    </main>


    <section id="women-football">
      <div class="women-image">
        <div class="text-women">
          <h2>Women's Football Arriving on MMM!</h2>
          <p>MMM is excited to announce the expansion of our platform to include women's football, a move that enriches our diverse offerings and brings the energy and passion of women's football to our community. This addition provides fans with the unique opportunity to engage with and support top female players and teams, aligning with our commitment to inclusivity and diversity in sports. Join us in embracing this new venture, where the dynamic world of women's football meets the innovative spirit of MMM.</p>
        </div>
        <%# image_tag "alexia_putella.png" %>
      </div>
    </section>

    <footer>
        <!-- Add footer content here -->
    </footer>

<%# </body>

</html> %>
