<div class="index-container">
  <div class="title">
    <h1><strong>Markets, Everywhere</strong></h1>
  </div>

  <div class="cards">
    <% @assets.each do |asset| %>

        <div class="card h-100">
          <%= link_to asset_path(asset), class: 'text-decoration-none text-dark' do %>
            <div class="card-body">
              <%= image_tag asset.image %>
              <h5 class="card-title"><strong><%= asset.name %></strong></h5>
              <p class="card-text">Current Value: <%= asset.histories.last.price %></p>
              <p class="card-text">24hr Change: <%= number_to_percentage(asset.calculate_24hr_change, precision: 2) %></p>
            </div>
          <% end %>
        </div>

    <% end %>
  </div>
</div>
