
<!-- ... [other parts of the show page] ... -->

<div class="transaction-actions">
  <h3>Trade Asset</h3>

  <!-- Buy Form -->
  <%= form_with(model: Holding.new, url: holdings_path, method: :post) do |form| %>
    <%= form.hidden_field :asset_id, value: @asset.id %>
    <div class="form-group">
      <%= form.label :quantity, "Buy Quantity" %>
      <%= form.number_field :quantity, min: 1, class: 'form-control' %>
    </div>
    <%= form.submit "Buy", class: 'btn btn-success' %>
  <% end %>

  <!-- Sell Form -->
  <!-- Ensure the user has holdings to sell -->
  <% if current_user.holdings.where(asset_id: @asset.id).any? %>
    <%= form_with(model: Holding.new, url: sell_holdings_path(@asset), method: :post) do |form| %>
      <%= form.hidden_field :asset_id, value: @asset.id %>
      <div class="form-group">
        <%= form.label :quantity, "Sell Quantity" %>
        <%= form.number_field :quantity, min: 1, class: 'form-control' %>
      </div>
      <%= form.submit "Sell", class: 'btn btn-danger' %>
    <% end %>
  <% else %>
    <p>You do not have any holdings to sell.</p>
  <% end %>
</div>
